.cxftmp/wsdl/frontend_clinica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FrontEnd_ClinicaService" targetNamespace="http://default_package/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://default_package/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://default_package/" schemaLocation="frontend_clinica_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="marcarConsultas_ServerResponse">
    <wsdl:part name="parameters" element="tns:marcarConsultas_ServerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotBoundException">
    <wsdl:part name="NotBoundException" element="tns:NotBoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="marcarConsultas_Server">
    <wsdl:part name="parameters" element="tns:marcarConsultas_Server">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MalformedURLException">
    <wsdl:part name="MalformedURLException" element="tns:MalformedURLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarConsultas_ServerResponse">
    <wsdl:part name="parameters" element="tns:listarConsultas_ServerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarConsultas_Server">
    <wsdl:part name="parameters" element="tns:listarConsultas_Server">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FrontEnd_Clinica">
    <wsdl:operation name="marcarConsultas_Server">
      <wsdl:input name="marcarConsultas_Server" message="tns:marcarConsultas_Server">
    </wsdl:input>
      <wsdl:output name="marcarConsultas_ServerResponse" message="tns:marcarConsultas_ServerResponse">
    </wsdl:output>
      <wsdl:fault name="MalformedURLException" message="tns:MalformedURLException">
    </wsdl:fault>
      <wsdl:fault name="NotBoundException" message="tns:NotBoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarConsultas_Server">
      <wsdl:input name="listarConsultas_Server" message="tns:listarConsultas_Server">
    </wsdl:input>
      <wsdl:output name="listarConsultas_ServerResponse" message="tns:listarConsultas_ServerResponse">
    </wsdl:output>
      <wsdl:fault name="MalformedURLException" message="tns:MalformedURLException">
    </wsdl:fault>
      <wsdl:fault name="NotBoundException" message="tns:NotBoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FrontEnd_ClinicaServiceSoapBinding" type="tns:FrontEnd_Clinica">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="marcarConsultas_Server">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="marcarConsultas_Server">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="marcarConsultas_ServerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotBoundException">
        <soap:fault name="NotBoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarConsultas_Server">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarConsultas_Server">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarConsultas_ServerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotBoundException">
        <soap:fault name="NotBoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FrontEnd_ClinicaService">
    <wsdl:port name="FrontEnd_ClinicaPort" binding="tns:FrontEnd_ClinicaServiceSoapBinding">
      <soap:address location="http://localhost:9090/FrontEnd_ClinicaPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
